@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 139, 0, 0.3) 0%, rgba(216, 63, 31, 0.7) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div > input {
  margin-block: 1rem;
  padding: 5px 5px;
  border-radius: 20px;
  border: none;
  text-align: center;
}

::placeholder {
  text-align: center !important;
  color: darkslategray !important;
}

div > input[type='button'], button {
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all .3s;
  padding: 0.375rem 1rem;
}
div > input[type='button']:hover, button:hover {
  background-color: #ffa500 !important;
}

#signoutbutton, #signinbutton, #homebutton {
  z-index: 999;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0.375rem 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  background: linear-gradient(to bottom right, rgba(0, 136, 188, 0.7), rgba(216, 63, 31, 0.7));
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

input:not([type='button']) {
  margin-top: 0px;
  padding: 0.375rem 1rem;
  border-radius: 25px;
  width: 110%;
  font-size: 1.5rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
}
.shadows {
  margin-top: 1rem;
}

textarea {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}