#resultscontainer {
    min-height: 89vh;
}
.recommendation-border {
    background: rgba(0, 136, 188, 0.15);
    border: 5px solid rgba(0, 136, 188, 0.4);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
}
.results-page-title {
    text-shadow: 10px 10px 17px rgba(0, 0, 0, 0.5);
}
#find-people {
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
    background: linear-gradient(to bottom right, lightgreen, lightblue);
    transition: all .3s;
}
#find-people:hover {
    background: linear-gradient(to bottom right, red, blue);
    color: white;
}
#recdiv {
    padding-inline: 2vw;
}